  
section{
	position:relative;
	width:800px;
	height:900px;
}
.seccion2{
	position:relative;
	left:70%;
}
.div1{
	position:relative;
	width:800px;
	height:900px;
	background-color: rgba(255,255,255,0.9);
	color:#000000;
}
.div2{
	position:relative;
	width:400px;
	height:900px;
	color:#ffffff;
	background-color: rgba(20,20,20,0.9);
}