.sectionPremios{
	direction:ltr;
	left: -1em;
	right: auto
	position:relative;
}

.oscar{
	position:relative;
	direction:ltr;
	left: 1em;
	right: 1em;
}
.fotoOscar{
	position:relative
	width: 500px;
	height: 800px;
	bottom: 600px;
	
}