.contenedor{
	width:100%;
	max-width:1000px;
	margin:auto;
}
.tabla{
	width:100%;
	border: 1px solid #ccc;
	border-collapse:collapse;
	margin:0;
	padding:0;
	table-layout:relative;
}
.tabla caption{
	font-size:20 px;
	text-transform:uppercase;
}
.tabla tr{
	background-color: #f8f8f8;
	border:1px solid #ddd;
}
.tabla td,.table th{
	font-size:16px;
	padding:8px;
	text-align:center;
}
